#title-text{
    font-size: 50px;
    text-align: center;
}


#subtitle{
    font-size: 16px;
    text-align: center;
    padding: 10px;
}

.text{
    text-align: center;
    padding: 25vh 0 50px 0;
    font-size: 20px;

}
.vis{
    margin-top: 5px;
    padding: 20px;
}

/*
Title
 */
h1 {
    font-family: "Niagara Engraved";
    font-size: 50px;
    text-align: center;
    padding-bottom:5px;
    padding-top: 5px;
    background: powderblue 100% 100%;
}

/*
Title
 */

.decadeButtons {
    position: relative;
    top: 10px;
    background-color: powderblue;
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin-bottom: 30px;
    border-radius: 50%;
    font-family: Georgia;
    border-color: black;
    border-width: 2px;
}


.textDisp{
    font-family: Georgia;
}

.textDecade{
    font-size: 10px;
    font-family: Georgia;
}

.artistInfo{
    font-size: 10px;
    font-family: Georgia;
}

.legend{
    font-family: Georgia;
    font-size: 15px;
}


.artist-row{
    position: relative;
    top: 5px;
    display: inline-block;
    font-family: Georgia;
    margin-left: 10%;
}


#img1{
    position: relative;
    align-content: center;
    height: 12%;
    width: 12%;
}
#img2{
    position: relative;
    align-content: center;
    height: 15%;
    width: 15%;

}
#img3{
    position: relative;
    align-content: center;
    height: 20%;
    width: 20%;
    margin-top: 2%;


}
#img4{
    position: relative;
    align-content: center;
    height: 15%;
    width: 15%;
    margin-top: 2%;

}
#img5{
    position: relative;
    align-content: center;
    height: 12%;
    width: 12%;
    margin-top: 2%;

}

.decadeButtons:focus{
    background-color: indianred;
}

#artist-to-album-text{
    font-family: Georgia;
}

#decade-feature-text{
    font-family: Georgia;
    text-align: center;
    margin-top: 10%;
    font-size: 15px;
}

#chartdiv {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    width: 100%;
    height: 400px;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #333;
    background: #ececec;
}

#fullview > div {
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.688rem;
    flex-direction: column;
    padding: 25px;
}

#fullview > div:nth-child(even) {
    background-color: white;
    color: black;
}

#fullview h2 {
    margin: auto;
    width: 50%;
    text-align: center;
}

button {
    cursor: pointer;
    margin-right: 0;
    margin-bottom: 0;
}

/*select,*/
/*input, button {*/
/*    display: inline-block;*/
/*    padding: 8px 17px;*/
/*    background-color: #ffffff;*/
/*    box-shadow: 0px 2px 9px #888;*/
/*    border: 1px solid transparent;*/
/*}*/

#down {
    box-shadow: 0 2px 9px #888;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 1rem;
    margin-bottom: 5px;
}

/* Override Styles */
#fv-dots ul li a span {
    background-color: #888888;
    border-radius: 0;
    transition: all 0.5s ease;
}

#fv-dots ul a.active span {
    width: 11px;
    height: 11px;
    transform: rotate(45deg);
    background-color: #bdbdbd;
}

.highlight{
    color:red;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

td, th {
    padding: 1px 10px;
}

.cimage{
    transition: transform .5s;
    height: 200px;
    overflow: hidden;
}

.slider{
    padding:10px 145px;
}
.card-text{
    font-size: small;
}

h6{
    font-weight: bold;
    font-family: "Niagara Engraved";
}

#top-artists-text{
    font-family: Georgia;
    font-size: 15px;
    margin-right: 10%;
    margin-bottom: .5%;
    text-align: end;
}

#top-artists-transition{
    font-family: Georgia;
    font-size: 15px;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: .5%;
    text-align: center;
}
